@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #2d3748;
  --text-color: #edf2f7;
  --global-font-size: 16px;
}

.high-contrast {
  --background-color: #000000;
  --text-color: #ffffff;
  --font-size: 18px;
}
.normal-text{
  --global-font-size: 16px;
}



.high-contrast body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

body {
  margin: 0;
  background-color: #282c34;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  transition: background-color 0.3s, color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--global-font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.high-contrast {
  background-color: #ACE5EE;
  color: white;
}

.high-contrast .ant-btn-primary {
  background-color: yellow;
  color: black;
}

.high-contrast .ant-input {
  background-color: black;
  color: white;
  border: 1px solid yellow;
}

.high-contrast .ant-upload {
  background-color: black;
  color: white;
}